
nav {
  display: flex;
  justify-content: center ;
  padding: 10px;
}
  nav a{
     
    text-decoration: none ;
    color: blue;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #ccc;
  }
  
  